{
  "check-coverage": true,
  "per-file": true,
      "lines": 99,
      "statements": 99,
      "functions": 99,
      "branches": 99,
      "include": [
        "**/*.bs.js"
      ],
      "exclude": [
        "**/*.spec.js"
      ],
      "ignore-class-method": "methodToIgnore",
      "reporter": [
        "lcov",
        "text-summary"
      ],
      "extension": [
        ".jsx"
      ],
      "cache": true,
      "all": true,
      "temp-directory": "./coverage-tmp",
      "report-dir": "./coverage"

}
